:root{
    --purple: #5126AF;
}
*{
    margin: 0;
    padding: 0;
}
 body{
    font-family: "Poppins";
    font-weight: 400;
    overflow-x: hidden;
 }
 h1,h2,h3,h4,h5,h6{
    font-family: "Playfair Display";
    font-weight: 400;
 }
.heading{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.head2{
    display: flex;
}
.head2 div{
    margin: 0px 20px;
}
.navbar div a{
    color: #c0c0c0;
}
.navbar div a:hover{
    color: #FFF;
}
.navbar div .actives{
    color: #FFF;
}
.search input{
    outline: none;
    border: none;
}
.search{
    border: 1px solid #CACBCC;
    padding: 5px 8px;
    border-radius: 5px;
}
.navbar-toggler{
    width: 50px;
    height: 60px;
}
.hero button{
    background: var(--purple);
    color: #FFFFFF;
    box-shadow:  -4px 4px 1px var(--purple);
    border: 1px solid black;
    padding: 10px 24px;
    border-radius: 4px;
}
.hero{
    background: linear-gradient(to right, #F9EBFF 100%, #8A8299 100%, #22123ECC 80%);
    flex-shrink: 0;
}
.ann{
    background: #fcf7ff;
}
@media (max-width: 768px) /*Mobile*/ {
    .search{
        display: none;
    }
    .navbar div ul{
        background: var(--purple);
        padding: 20px;
        border-radius: 10px;
    }
    .hero h1{
        font-size: 40px;
    }
    .hero-img img{
        width: 320px;
        height: 330px;
        justify-content: flex-end;
        display: flex;
    
    }
}

@media (min-width: 769px) /*PC*/ {
    .navbar{
        background: var(--purple);
    }
    .navbar-nav{
        margin: 0 auto;
    }
    .hero h1{
        font-size: 56px;
    }
    .hero-img img{
        width: 500px;
        height: 400px;
        justify-content: flex-end;
        display: flex;
    
    }
}