:root {
  --purple: #5126af;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins";
  font-weight: 400;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display";
  font-weight: 400;
}
.heading {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.head2 {
  display: flex;
}
.head2 div {
  margin: 0px 20px;
}
.navbar div a {
  color: #c0c0c0;
}
.navbar div a:hover {
  color: #fff;
}
.navbar div .actives {
  color: #fff;
}
.search input {
  outline: none;
  border: none;
}
.search {
  border: 1px solid #cacbcc;
  padding: 5px 8px;
  border-radius: 5px;
}
.navbar-toggler {
  width: 50px;
  height: 60px;
}
.hero button {
  background: var(--purple);
  color: #ffffff;
  box-shadow: -4px 4px 1px var(--purple);
  border: 1px solid black;
  padding: 10px 24px;
  border-radius: 4px;
}
.hero {
  background: linear-gradient(
    to right,
    #f9ebff 100%,
    #8a8299 100%,
    #22123ecc 80%
  );
  flex-shrink: 0;
}
.ann {
  background: #fcf7ff;
}
.cat .control-btn button {
  border: none;
  border-radius: 100%;
  background: #313033;
}
.cat .control-btn {
  position: relative;
  width: 5em;
  display: flex;
  justify-content: space-between;
}
.cat {
  position: relative;
}
.cat .cat-head {
  display: flex;
  justify-content: space-between;
  margin: 10px 5px;
}
.cat .card .card-content .btn {
  width: 100%;
  margin-top: 10px;
  background: #6D36DF;
  color: #fff;
  border-radius: 100px;
}
.cat .card .card-content p {
  font-size: 16px;
}
.cat .card .card-content div {
  font-size: 24px;
}
.cat .card .card-content {
  position: relative;
  border-radius: 24px 24px 16px 16px;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(27.25px);
  padding: 16px;
  bottom: -194px;
  color: #fff;
}
.cat .cat-body .card {
  height: 350px;
  width: 18rem;
  border-radius: 16px;
}
.cat .cat-body .card img {
  position: absolute;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.cat1 .control-btn {
  position: relative;
  width: 5em;
  display: flex;
  justify-content: space-between;
}
.cat1 {
  position: relative;
}
.cat1 .cat-head {
  display: flex;
  justify-content: space-between;
  margin: 10px 5px;
}
.cat1 .cat-body .card {
  height: 310px;
  width: 18rem;
  border-radius: 16px;
}
.cat1 .cat-body .card-image h3 {
    z-index: 3;
    top: 20px;
    left: 20px;
    position: absolute;
}
.cat1 .cat-body .card img {
  position: absolute;
  z-index: -15;
  text-align: center;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.offer2{
    display: flex;
}
.offer1 h3{
    font-size: 48px;
}
.offer1 .before del{
    color: #E1DAF2;
    font-size: 40px;
    font-weight: bold;
}
.offer1 .before span{
    font-size: 15px;
    font-weight: bold;
    position: relative;
    top: -20px;
}
.offer1 .now .n1{
    font-size: 15px;
    font-weight: bold;
    position: relative;
    top: -50px;
}
.offer1 .now .n2{
    font-size: 86px;
    font-weight: bold;
}
.offer1{
    padding: 20px;
}
.offer-body{
    border-radius: 16px;
    background: #5126AF;
    color: #FFF;
}
.get2{
    border-radius: 16px;
    background: linear-gradient(180deg, #F23043 57.92%, #FF4C5D 64.78%, #990F1C 73.53%);
}
.get1 ul .num{
    margin-right: 10px;
    margin-left: -30px;
    background: var(--purple);
    color: #FFF;
    width: 40px;
    padding: 7px 13px;
    border-radius: 85px;
}
.get1 ul li{
    padding-bottom: 20px;
}
.get1 ul{
    list-style-type: none;
}
@media (max-width: 768px) /*Mobile*/ {
  .search {
    display: none;
  }
  .navbar div ul {
    background: var(--purple);
    padding: 20px;
    border-radius: 10px;
  }
  .hero h1 {
    font-size: 40px;
  }
  .hero-img img {
    width: 340px;
    height: 330px;
    justify-content: flex-end;
    display: flex;
  }
  .offer2 .f1{
    width: 290px;
    height: 400;
    flex-shrink: 0;
    margin-right: -100px;
    margin-left: 5px;
}
  .offer2 .f2{
    width: 100px;
    height: 100px;
    flex-shrink: 0;
  }
  .offer2{
    line-height: -2;
  }
  .get2 img{
    width: 340px;
  }
}

@media (min-width: 769px) /*PC*/ {
  .navbar {
    background: var(--purple);
  }
  .navbar-nav {
    margin: 0 auto;
  }
  .hero h1 {
    font-size: 56px;
  }
  .hero-img img {
    width: 500px;
    height: 400px;
    justify-content: flex-end;
    display: flex;
  }
  .offer1 {
    margin-left: 30px;
  }
  .offer2 {
    margin-right: -150px;
  }
  .offer2 .f1{
    width: 346px;
    height: 400px;
    flex-shrink: 0;
    margin-left: 100px;
}
.offer2 .f2{
    width: 120px;
    height: 120px;
    flex-shrink: 0;
    margin-left: -100px;
  }
}
